Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -*-easily-swappable-parameters,
  -*-math-missing-parentheses,
  -*-implicit-bool-conversion,
  -*-avoid-nested-conditional-operator,
  -*-convert-member-functions-to-static,
  -misc-include-cleaner,
  
  -*-function-cognitive-complexity,